BRAVE_API_KEY=your_token_here(REQUIRED for Web Searcher and Deep Research skills. Brave Search API keys have a generous free tier.)
OPENROUTER_KEY=your_token_here(optional for external LLM use, otherwise leave it blank)
GOOGLE_CLIENT_ID=your_token_here(optional if you want to integrate Google services, otherwise leave it blank)
GOOGLE_CLIENT_SECRET=your_token_here(linked to the above client ID, if used)
GITHUB_PERSONAL_ACCESS_TOKEN=your_token_here(optional if you want to use GitHub API, otherwise leave it blank)
S2_API_KEY=your_token_here(optional if you want to include Semantic Scholar API in Deep Research, otherwise leave it blank)
PROJECTS_DIR=your_token_here(optional if you want to specify a custom projects directory in your computer. If left blank, it will default to a "projects" folder in the current directory.)